TY  - ?
T1  - $itemMetadata.get("dc.title")
JO  - ?
VL  - ?
IS  - ?
SP  - ?
EP  - ?
PY  - $itemMetadata.get("dc.date.issued")
T2  - $itemMetadata.get("dc.title.alternative")
AU  - $itemMetadata.get("dc.contributor.author")
SN  - ?
DO  - $itemMetadata.get("dc.identifier.doi")
UR  - $itemMetadata.get("dc.identifier.uri")
AB  - $itemMetadata.get("dc.description.abstract") 
ER  - 

